.calendar-icon {
  background: url('/assets/smart/calendar-icon.png') no-repeat left center;
  height: 16px;
  width: 16px;
  display: inline-block;
  vertical-align: middle;
}


#messageBox {
	position:absolute;
	height: 43px;
	z-index: 1;
	color: #fff;
	padding: 0px;
  font-size: 11px;
}

#messageBox.fixed {
  position: fixed;
  top: 43px;
}


/* legacy styles to be removed after the stoppage_table is fully responsive */
/*#stoppage_table .grid_1 {
  width: 60px;
}

#stoppage_table .grid_0_5 {
  width: 30px;
}

#stoppage_table .grid_1_5 {
  width: 90px;
}

#stoppage_table .grid_1_7 {
  width: 115px;
}

#stoppage_table .grid_2 {
  width: 140px;
}

#stoppage_table .grid_3 {
  width: 220px;
}

#stoppage_table .grid_5 {
  width: 380px;
}

#stoppage_table .grid_6, .map_wrapper.grid_6 {
  width: 480px;
}
*/

#messageBox.status-valid {
  background-color: #829F56;
}

#messageBox.status-error {
  background-color: #9F494F;
}

#messageBox.status-invalid {
  background-color: #819F55;
}

#messageBox #validation_feedback {
  line-height: 32px;
  padding-left: 50px;
  margin-left: 5px;
  font-size: 1.1em;
  font-family: Verdana,Arial, sans-serif;
  margin-top: 5px;
}

#messageBox #messageBoxIcon {
  width: 32px;
  height: 32px;
  float: left;
  margin-top: 5px;
  margin-left: 5px;
}

#messageBox #messageBoxIcon,
.validated-info {
  background: url(/assets/smart/smart_spritesheet.png) no-repeat;
}

#messageBox #messageBoxIcon,
#messageBox.status-invalid #validation_feedback{
  background-position: 128px 128px;
}

.validated-info.status-valid,
#messageBox.status-valid #messageBoxIcon {
  background-position: -2px -42px;
}

#messageBox.status-error #messageBoxIcon {
  background-position: -36px -36px;
}

#messageBox.status-invalid #messageBoxIcon {
  background-position: -42px -72px;
}


.validated-info.status-invalid {
  background-position: 128px 128px;
}

.validated-info.status-error {
  background-position: -66px -2px;
}

.stop_icon {
  height: 38px;
}

.stop_number {
  float: none;
  cursor: pointer;

  background-position: -2px -2px;

  line-height: 30px;
  color: #fff;
  font-weight: bold;
  font-family: Verdana, arial, sans-serif;
  position: relative;

  /*display: table-cell;*/
  /*vertical-align: middle;*/
}

.sprite_number{
  display: inline-block;
  border-radius: 10px;
  background: #333;
  color: #fff;
  position: absolute;
  top: -3px;
  right: -8px;
  padding: 0;
  margin: 0;
  line-height: 15px;
  height: 15px;
  text-align: center;
  font-size: 11px;
  font-weight: normal;
  width: 18px;
  font-family: Verdana;
}


.activity-row-mode p:first-child,
.activity-row-activity p:first-child,
.activity-row-activity p.address {
  font-weight: bold;
  font-size: 11px;
}

.stop_form .AccordionTitle {
  background-image: url('/assets/smart/activity_bg.png');
  background-repeat: no-repeat;
  /*background-position: 197px 0px;*/
  background-position: 39% 0;
  background-size: 5px 100%;
}

.travel_form .AccordionTitle.clearfix {
  background-image: url('/assets/smart/travel_bg.png');
  background-repeat: no-repeat;
  /*background-position: 197px 0px;*/
  background-position: 39% 0px;
  background-size: 5px 100%;
}

.stop_form .AccordionContent,
.travel_form .AccordionContent {
  background-image: url('/assets/smart/travel_bg_alpha.png');
  background-repeat: repeat-y;
  background-position: 39% 0px;
}


.sprite_delete_button {
  display: block;
  width: 32px;
  height: 32px;
  overflow: hidden;
  background: url('/assets/pilot_report/sprite_delete_button.png') no-repeat 0px 0px;
  border: 0;
  text-decoration: none;
  vertical-align: middle;
}

.sprite_delete_button:hover {
  cursor: pointer;
  background-position: 0px -32px ;
  border: 0;
  text-decoration: none;
}

.timevalue {
  /*padding-top: 5%;*/
  /*display: inline;*/
  /*float: right;*/
  font-size: 12px;
  font-weight: bold;
  padding-top: 5px;

  text-align: left;
/*  position: absolute;
  margin-top: -15px;  */
}
