= javascript_include_tag "umove/statistics"
.row{:style => "margin-top: 10px;"}
  .col-md-offset-2.col-md-10
    %span
      City: #{select_tag "city", options_from_collection_for_select(@cities, "id", "name"), include_blank: "Select City"}
    %span
      Start Date:
      %input#start_date_picker.datetype{:type => "text"}/
    %span
      End Date:
      %input#end_date_picker.datetype{:type => "text"}/
    %input#start_date{:type => "hidden"}/
    %input#end_date{:type => "hidden"}/
    %span= button_tag "Go", id: "summarise"
  .col-md-12
    %h3 LOCAL RESIDENTS SURVEY
    %table.table
      %tr
        %th Registered
        %th Completed
        %th Age Groups
        %th Gender
        %th Driving Licences
        %th Car Sharing
        %th Education Levels
      %tr
        %td#residents_registered
        %td#residents_completed
        %td#residents_age_groups
        %td#residents_gender
        %td#residents_driving_licences
        %td#residents_car_sharing
        %td#residents_education_levels
  .col-md-12
    %h3 TOURISTS SURVEY
    %table.table
      %tr
        %th Registered
        %th Completed
      %tr
        %td#tourists_registered
        %td#tourists_completed
.stripes{:style => "margin-top: 10px;"}
:css
  #disclaimer p {
    text-align: justify;
  }
